<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static' , filename='css/style.css')}}"
    />
    <title>Orders</title>
  </head>
  <body>
    <nav>
      <div class="image-nav">
        <a href="/">
          <img
            class="logo"
            src="{{url_for('static' , filename='imgs/logo.jpg')}}"
            alt="Logo"
          />
        </a>
      </div>
      <div class="links-nav">
        <a href="/">Home</a>
        <a href="/food">Food List</a><a href="/orders">Orders</a>
      </div>
      <div class="sign-nav"></div>
    </nav>

    <section class="orders">
      <section class="sectionOne"></section>
      <section class="sectionTwo">
        <h1>
          {% if workspace %} Workspace Name :{{workspace[0][0]}} {% endif %}
        </h1>
        <div class="root">
          {% for item in data %}
          <table>
            <thead>
              <tr>
                <th colspan="2">{{item["user_name"]}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              {% for key , value in item.items() %} 
                  {% if value !=""%}
                    <td>{{key}}</td>
                    <td>{{value}} </td>
                  {% endif %}
              {% endfor%}
              </tr>
            </tbody>
          </table>
          {% endfor%}



            

        </div>
        <a href="/submit-data" ><button class="add">Delete List<button/></a>
      </section>
      <section class="sectionThree"></section>
    </section>
    <footer></footer>
    <script src="javaScript/javaScript.js"></script>
  </body>
</html>
